.nostr-postr-app {
    background-color: #9744c1;
    padding: 0;
    box-sizing: border-box;
    font-size: 16px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    margin: 1.75rem 1rem 1rem;
    line-height: 1.4;

    &--initializing {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-flow: column;
        margin: 1rem;
        height: calc(100% - 2rem);
    }

    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-size: inherit;
        line-height: inherit;
    }

    &__head img {
        width: 80px;
        height: auto;
        margin: 0 auto;
        display: block;
    }

    &__content {
        width: 100%;
        display: flex;
        flex-flow: column;
        align-items: center;
    }

    &__postr {
        background-color: #fff;
        border-radius: .5rem;
        box-shadow: 0 0 1rem .25rem rgba(0, 0, 0, 0.1);
        padding: 1rem 1rem 1.75rem;
        max-width: 500px;
        width: 100%;
    }

    &__postr-title {
        color: #a45ac9;
        display: flex;
        align-items: center;
        font-size: 1.75rem;
        font-weight: 400;
        line-height: 1;
        margin-top: 1rem;
        justify-content: center;
    }

    &__postr-form {
        position: relative;
        margin-top: 2em;

        fieldset {
            display: grid;
            grid-template-columns: 20% 80%;
            border: none;

            @media (max-width: 399px) {
                display: grid;
                grid-template-columns: 1fr;
                grid-gap: .5em;

                &.nostr-postr-app__postr-actions label {
                    display: none;
                }
            }

            >label {
                cursor: default;
                font-size: .9em;
            }

            >div {
                overflow: hidden;
            }
        }

        >*+* {
            margin-top: 1.5em;
        }

        textarea {
            width: 100%;
            font-size: .9em;
            padding: .5em;
            font-family: inherit;
            max-width: 100%;
            resize: vertical;

            +ul:empty {
                margin: 0;
            }

            +ul {
                list-style-type: none;
                display: flex;
                gap: 0.25em;
                flex-wrap: wrap;
                margin-top: .5em;
            }

            +ul li {
                margin: 0;
                font-size: .9em;
                padding: .25em .5em;
                background-color: #ecedee;
                color: #a7aaad;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }
        }
    }

    &__postr-profile {
        figure {
            margin: 0;
            width: 4em;
            height: 4em;
            min-width: 4em;
            border-radius: 2em;
            overflow: hidden;
        }

        img {
            width: 100%;
            height: 100%;
        }

        >div {
            display: flex;
            align-items: center;
            gap: 1em;
            // background: #f8f8f8;
            // border-radius: 32px;
        }

        >label {
            display: flex;
            align-items: center;
        }

        p {
            margin: 0;
            display: flex;
            flex-direction: column;
            flex-grow: 1;
        }

        p span {
            font-size: .9em;
        }
    }

    &__postr-relays {
        .nostr-postr-app__postr-relays-toggle {
            cursor: pointer;
            font-size: .9em;
            width: 100%;
            display: flex;
            gap: .75em;
            align-items: center;
            background-color: transparent;
            border: none;
            margin: 0;
            padding: 0;
            color: #a7aaad;
        }

        .nostr-postr-app__postr-relays-toggle-horizontal {
            display: flex;
            flex-grow: 1;
            align-items: center;
            gap: .75em;
        }

        .nostr-postr-app__postr-relays-toggle-line {
            flex-grow: 1;
            height: 1px;
            background-color: #d6d6d6;
        }

        .nostr-postr-app__postr-relays-toggle-horizontal .dashicons {
            color: #d6d6d6;
        }

        .nostr-postr-app__postr-relay-label {
            flex-basis: calc(100% - 1em);
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        ul {
            margin: 1em 0 0;
            font-size: .9em;
        }

        ul li {
            display: flex;
            align-items: center;
            padding: 0.25em .25em .25em 0.5em;
            background-color: #f9f9f9;
            border: 1px solid #e9e9e9;
            color: #222222;

            +li {
                margin-top: .2em;
            }
        }

        ul li.nostr-postr-app__postr-relay-add {
            color: #a7aaad;
            background-color: #ffffff;
        }

        ul li.nostr-postr-app__postr-relay-add input {
            border: none;
        }

        ul li.nostr-postr-app__postr-relay-add .nostr-postr-app__postr-relay-label:focus {
            color: #222222;
        }

        ul li button {
            border: none;
            background-color: transparent;
            cursor: pointer;
        }

        ul li button .dashicons {
            color: #a7aaad;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 1em;
        }

        ul li button .dashicons.dashicons-remove {
            color: #b32d2e;
        }

        ul li button .dashicons.dashicons-insert {
            color: #46B450;
        }
    }

    &__postr-tags {
        h5 {
            margin: 0 0 .5em;
            font-size: .9em;
        }

        ul {
            margin: .25em 0;
            font-size: .9em;
            list-style-type: none;
        }

        ul li {
            line-height: 1.8;

            label {
                display: flex;
                align-items: center;
                gap: .5em;
                cursor: pointer;
            }
        }

        .nostr-postr-app__postr-tag-notice {
            color: #a7aaad;
            margin: .5em 0 .75em;
            font-size: .9em;
        }

        .nostr-postr-app__postr-tags-toggle {
            cursor: pointer;
            font-size: .9em;
            width: 100%;
            display: flex;
            gap: .75em;
            align-items: center;
            background-color: transparent;
            border: none;
            margin: 0;
            padding: 0;
            color: #a7aaad;
        }

        .nostr-postr-app__postr-tags-toggle-horizontal {
            display: flex;
            flex-grow: 1;
            align-items: center;
            gap: .75em;
        }

        .nostr-postr-app__postr-tags-toggle-line {
            flex-grow: 1;
            height: 1px;
            background-color: #d6d6d6;
        }

        .nostr-postr-app__postr-tags-toggle-horizontal .dashicons {
            color: #d6d6d6;
        }

        .nostr-postr-app__postr-tag-types {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
            grid-gap: .75em;
        }

        .nostr-postr-app__postr-tags-custom ul li {
            display: flex;
            align-items: center;
            padding: 0.25em .25em .25em 0.5em;
            background-color: #f9f9f9;
            border: 1px solid #e9e9e9;
            color: #222222;

            +li {
                margin-top: .2em;
            }
        }

        .nostr-postr-app__postr-tags-custom ul li.nostr-postr-app__postr-tag-add {
            color: #a7aaad;
            background-color: #ffffff;
        }

        .nostr-postr-app__postr-tags-custom ul li.nostr-postr-app__postr-tag-add input {
            border: none;
        }

        .nostr-postr-app__postr-tags-custom ul li.nostr-postr-app__postr-tag-add .nostr-postr-app__relay-label:focus {
            color: #222222;
        }

        .nostr-postr-app__postr-tag-label {
            flex-basis: calc(100% - 1em);
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        .nostr-postr-app__postr-tags-custom ul li button {
            border: none;
            background-color: transparent;
            cursor: pointer;
        }

        .nostr-postr-app__postr-tags-custom ul li button .dashicons {
            color: #a7aaad;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 1em;
        }

        .nostr-postr-app__postr-tags-custom ul li button .dashicons.dashicons-remove {
            color: #b32d2e;
        }

        .nostr-postr-app__postr-tags-custom ul li button .dashicons.dashicons-insert {
            color: #46B450;
        }
    }

    &__postr-actions {
        >label {
            text-indent: -9999px;
        }

        button {
            appearance: none;
            border: none;
            padding: .5em .75em;
            cursor: pointer;
            border-radius: .2em;
            margin-right: .5em;
        }

        button[type=button] {
            color: #b32d2e;
        }

        button[type=submit] {
            background: #a45ac9;
            border: #9744c1;
            color: #fff;
        }

        button[type=submit]:hover,
        button[type=submit]:active,
        button[type=submit]:focus {
            background: #9744c1;
        }

        button[type=button][disabled] {
            color: #a7aaad;
        }
    }

    &__postring-errors {
        text-align: center;
        margin-top: 1rem;

        span {
            font-size: 4em;
        }

        h3 {
            color: red;
        }

        ul {
            margin-top: 1.5rem;
            margin-bottom: 2rem;
            list-style-type: none;

            li+li {
                margin-top: .5rem;
            }
        }

        button {
            appearance: none;
            border: none;
            padding: .5em .75em;
            cursor: pointer;
            border-radius: .2em;
            margin-right: .5em;
            margin-bottom: .5rem;
        }

        button[type=button] {
            background: #a45ac9;
            border: #9744c1;
            color: #fff;
        }

        button[type=button]:hover,
        button[type=button]:active,
        button[type=button]:focus {
            background: #9744c1;
        }
    }

    &__postring-status {
        margin-top: 2rem;

        >div {
            display: block;
            max-width: 100%;
            word-break: break-all;
            background-color: #ebebeb;
            border-radius: 0.2em;
            padding: 1em;
            text-align: center;
        }

        ul {
            list-style-type: none;
            line-height: 1.8;
            margin-top: .5em;
            margin-bottom: -.75em;
        }

        li {
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: #ebebeb;
            border-radius: 0.2em;
            gap: .5em;
            padding: 0.2em 0.5em;

            +li {
                margin-top: .5em;
            }

            strong {
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                max-width: calc(100% - 1.5em);
            }
        }
    }

    &__verify-nip07 {
        color: #fff;
        width: 100%;
        margin-bottom: 2rem;

        .nostr-postr-app__spinner div {
            border: 0.125em solid #fff;
            border-color: #fff transparent transparent transparent;
        }
    }

    &__state-indicator-list {
        list-style-type: none;

        li {
            display: flex;
            align-items: center;
            gap: 0.3em;
            justify-content: center;
            line-height: 2;
        }
    }

    &__state-loader {
        display: inline-block;
        position: relative;
        width: 1.25em;
        height: 1.25em;
        display: flex;
        align-items: center;
    }

    &__spinner {
        display: inline-block;
        position: relative;
        width: 1.25em;
        height: 1.25em;
        left: -.1em;

        div {
            box-sizing: border-box;
            display: block;
            position: absolute;
            width: 1em;
            height: 1em;
            margin: 0.125em;
            border: 0.125em solid #9744c1;
            border-radius: 50%;
            animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
            border-color: #9744c1 transparent transparent transparent;
        }

        div:nth-child(1) {
            animation-delay: -0.45s;
        }

        div:nth-child(2) {
            animation-delay: -0.3s;
        }

        div:nth-child(3) {
            animation-delay: -0.15s;
        }

        @keyframes lds-ring {
            0% {
                transform: rotate(0deg);
            }

            100% {
                transform: rotate(360deg);
            }
        }

    }
}